{% extends "base.html" %}

{% block analytics %}
  <script defer src="https://umami.allfabox.fr/app.js" data-website-id="16e916d9-669d-48f3-affe-b8acd8a327fd"></script>
  <script defer src="https://umami.allfabox.fr/recorder.js" data-website-id="16e916d9-669d-48f3-affe-b8acd8a327fd" data-sample-rate="0.15" data-mask-level="moderate" data-max-duration="300000"></script>
{% endblock %}

{% block content %}
  {{ super() }}
  {% if page and page.meta.comments is not sameas false %}
    {% include "partials/comentario.html" %}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script defer src="{{ config.extra.comentario_url }}" referrerpolicy="no-referrer"></script>
  {% include "partials/donate-button.html" %}
{% endblock %}
